background: Para adicionar uma shorthand
    Ex.:
        <style>    
            body {
                background: black url("#") no-repeat right top;
            }
        </style>
    Essa deve ser a ordem da shorthand
    background-color
    background-image
    background-repeat
    background-attachment
    background-position

background-attachment: Especifica se a imagen deve scrollar com a pagina ou ficar fixa
    Ex.:
        <style>
            body {
                background-image: url("#");
                background-repeat: repeat-x;
                background-position: right top;
                background-attachment: fixed;
            }
        </style>    

    Propriedades
    scrool <- ->  A imagen de fundo irá rola com a página, essa propriedade é padrão se não for aplicada nenhuma outra.
    fixed <- -> A imagen de fundo não rolará com a página, ou sejá ficará fixa na tela.
    local <- -> A imagen de fundo rolará com o conteúdo do  elemento.
    initial <- -> Defina a proprirdade com seu valor padrão.
    inherit <- -> herda a propriedade do elementodpai

background-clip:

background-color: Altera a cor de fundo
    Ex.:
        <style>
            body {
                background-color: black;
            }
        </style>

    Propriedades
    transparent <- -> A cor de fundo é transparente por padrão. 
    initial <- -> Defina a proprirdade com seu valor padrão.
    inherit <- -> herda a propriedade do elementodpai.

background-image: Define uma imagem como plano de fundo
    Ex.:
        <style>
            body {
                background-image: url("#");
            }
        </style>   
        
    Propriedades
    url <- -> Esse busca a localização da imagen.
    none <- -> Nenhuma imagen de fundo, isso é padão.
    initial <- -> Defina a proprirdade com seu valor padrão.
    inherit <- -> herda a propriedade do elementodpai.

background-position: Define a posição da imagen de fundo
    Ex.:
        <style>
            body {
                background-image: url("#");
                background-repeat: no-repeat;
                background-position: right top;
            }
        </style>

    Propriedades
    top left
    top center
    top right
    center left
    center center
    center right
    bottom left
    bottom 
    center
    bottom right
    initial <- -> Defina a proprirdade com seu valor padrão.
    inherit <- -> herda a propriedade do elementodpai.

background-repeat: Define a repetição da imagen
    Ex.:
        <style>
            body {
                background-image: url("#");
                background-repeat: repeat-x;
            }
        </style>  
        
    Propriedades
    repeat <- -> A imagen de fundo é repetida verticalmente e horizomtalmente, isso é padão quando não á nenhum valor.
    repeat-x <- -> A imagen de fundo irá se repetir apenas na horizontal.
    repeat-y <- -> A imagen de fundo irá se repetir apenas na vertical.
    no-repeat <- -> A imagen de fundo não irá se repetir.
    initial <- -> Defina a proprirdade com seu valor padrão.
    inherit <- -> herda a propriedade do elementodpai.
